
@{
    ViewBag.Title = "Index";
}

@model CommandPanel.Models.ConfigurationsModels.ConfigurationsViewModel

<div class="">
    <div class="row">
        @using (Html.BeginForm("UpdateSettings", "Configurations", FormMethod.Post))
        {
            <input type="hidden" name="accountId" value="@Model.AccountId" />

            <div class="input-hashtag ">
                Login
                <div>
                    <input type="text" name="Login" class="form-control" value="@Model.Login"/>
                </div>
            </div>

            <div class="input-hashtag ">
                Password
                <div>
                    <input type="text" name="Password" class="form-control" value="@Model.Password"/>
                </div>
            </div>

            <div class="input-hashtag ">
                Home Url
                <div>
                    <input type="text" name="HomePage" class="form-control" value="@Model.HomePage"/>
                </div>
            </div>

            <div class="input-hashtag ">
                Proxy
                <div>
                    <input type="text" name="Proxy" class="form-control" value="@Model.Proxy"/>
                </div>
            </div>

            <div class="input-hashtag ">
                Proxy Name
                <div>
                    <input type="text" name="ProxyName" class="form-control" value="@Model.ProxyName"/>
                </div>
            </div>

            <div class="input-hashtag ">
                Proxy Password
                <div>
                    <input type="text" name="ProxyPassword" class="form-control" value="@Model.ProxyPassword"/>
                </div>
            </div>

            <div class="input-hashtag ">
                Remove all users
                <div>
                    @Html.CheckBoxFor(model => model.RemoveAllUsers, new {@class = "form-control"})
                </div>
            </div>

            <div class="input-hashtag ">
                Instagram Id
                <div>
                    <input type="text" name="InstagramId" class="form-control" value="@Model.InstagramId" />
                </div>
            </div>

            <input type="submit" value="Save" class="btn btn-primary"/>
        }
    </div>
</div>

