@{
    ViewBag.Title = "Index";
}

@model CommandPanel.Models.AccountModels.AccountMainStatisticViewModel

@section scripts
{
    <script src="http://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script type="text/javascript">

        $(function() {
            $(".deleteButton").click(function(e) {
                e.preventDefault();
                $.get(this.href, function(data) {
                    $('#modDialog').modal('show');
                });
                $("#no").click(function() {
                    location.reload();
                });
            });
        });
    </script>

    <script type="text/javascript">

        window.onload = function () {

            var list = @( Html.Raw(Model.ChartJsonData) );
            var data = list.map(function(v) {
                return {
                    x: new Date(v.Year, v.Month, v.Day),
                    y: v.Value
                }
            });

            var chart = new CanvasJS.Chart("chartContainer",
            {
                title: {
                    text: "Followers statistic"
                },
                axisY :{
                    includeZero: false
                },
                data: [
                    {
                        type: "spline",

                        dataPoints: data
                    }
                ]
            });

            chart.render();
        }
    </script>
}

<div class="row">

    <div class="head-panel">
        <div class="boxes">
            <div class="followers-box">
                <div>Followers count:</div>
                <div class="followers-count">@Model.FollowersCount</div>
                <div>Date: @Model.LastStatisticDate</div>
            </div>

            <div class="followers-box">
                <div>Followings count:</div>
                <div class="followers-count">@Model.FollowingsCount</div>
                <div>Date: @Model.LastStatisticDate</div>
            </div>

            <div class="followers-box">
                <div>Media count:</div>
                <div class="followers-count">@Model.MediaCount</div>
                <div>Date: @Model.LastStatisticDate</div>
            </div>
        </div>

        <div class="center-space"></div>
        <div class="chart-box">
            <div id="chartContainer"></div>
        </div>
    </div>

    <div class="lists-section">
        <div class="buttons-list">
            <a href="@Url.Action("Index", "HashTag", new {accountId = Model.AccountId})" class="btn btn-primary action-button"> Hash tags </a>
            <a class="btn btn-primary action-button deleteButton"> Remove all users to follow </a>
            <a href="@Url.Action("Index", "ContentData", new {accountId = Model.AccountId})" class="btn btn-primary action-button"> Content </a>
        </div>

        <div class="functionality-section alert alert-primary">
            @foreach (var functionality in @Model.Functionalities)
            {
                <div class="functionality-line alert alert-primary">
                    <div class="inline-box">
                        <a href="@Url.Action("SwitchFunctionalityAccess", "AccountMainPage", new { accountId = Model.AccountId, functionalityName = functionality.FunctionalityName })" class="no-line-link">
                            @if (functionality.Stopped)
                            {
                                <div class="red-circle"> ! </div>
                            }
                            else if (functionality.IsActive)
                            {
                                <div class="green-box"></div>
                            }
                            else
                            {
                                <div class="blue-box"></div>
                            }
                        </a>
                    </div>
                    <div class="inline-box">
                        <span>@functionality.FunctionalityName.ToString("G")</span> <br />
                        <span>@functionality.LastActivation.Day.ToString("D2").@functionality.LastActivation.Month.ToString("D2") @functionality.LastActivation.Hour.ToString("D2"):@functionality.LastActivation.Minute.ToString("D2")</span>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog">
        <div class="modal-header"> Are you sure you want to clear database? </div>
        <div class="modal-buttons">
            <a class="btn btn-primary" id="no">No</a>
            <a href="@Url.Action("ClearAllUsersToFollow", "AccountMainPage", new {accountId = Model.AccountId})" class="btn btn-primary">Yes</a>
        </div>
    </div>
</div>
